<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>COVID-19</title>
  </head>
  <body>
    <div>
      <div id="mainContent">
        <h1>🦠 COVID-19 (Coronavirus) Statistics</h1>
        <div id="statsContent">
          <h3>Alameda County</h3>
          <select class="dateSelector" name="">
            <option value="date"><%= date %> (Today)</option>
            <% dateEntries.forEach((archivedDate) => { %>
            <option value="date"><%= archivedDate %></option>
            <% }) %>
          </select>
          <label>
              <button class="submit">➡️</button>
          </label>
          <div>
            <h3 class="section">Cases on <%= date %></h3>
            <p>😷 Positive Cases: <strong><%= posCases %></strong></p>
            <p>☠️ Deaths: <strong><%= deathCount %></strong></p>
            <h3 class="section">Compared to Day Before</h3>
            <p>😷 Difference in Cases: <strong><%= posCasesDiff %></strong></p>
            <p>☠️ Difference in Deaths: <strong><%= deathCountDiff %></strong></p>
          </div>
          <br>
          <form method="POST">
            <button class="refresh">🔄 Fetch latest</button>
          </form>
        </div>
        <div id="graphContent">
          <div id="graphContainer">
            <canvas id="myChart"></canvas>
          </div>
          <script type="text/javascript">let ctx = document.getElementById('myChart').getContext('2d')</script>
          <script>
          let chart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: <%- JSON.stringify(labels) %>,
                  datasets: [{
                      label: 'Cases added per day',
                      backgroundColor: 'rgb(255, 255, 255, 0)',
                      borderColor: 'rgb(0, 0, 0)',
                      lineTension: 0,
                      data: <%- JSON.stringify(data) %>
                  }]
              },
              options: {
                responsive: true,
                maintainAspectRatio: false
              }
          });
          </script>
        </div>
      </div>
    </div>
    <footer>
      <p>© Copyright 2020 • <a href="https://github.com/crayonz420/covid19-datascraper" target="_blank">Source Code</a> • Data from <a href="http://www.acphd.org/2019-ncov.aspx" target="_blank">ACPHD</a></p>
      <p>Built with <a href="https://nodejs.org/en/" target="_blank">Node.js</a> and <a href="https://expressjs.com/" target="_blank">Express</a> • Hosted with <a href="https://www.heroku.com/home" target="_blank">Heroku</a></p>
    </footer>
  </body>
</html>
